<md-input-container>
  <input mdInput placeholder="Search..." (keyup)="onKeyup($event)">
</md-input-container>

<button md-raised-button (click)="getUsers()">Search</button>

<div *ngIf="users">
  <hr>
  <h4>Total Count: {{users.total_count}}</h4>

  <md-card *ngFor="let u of users.items" class="example-card">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>{{u.login}}</md-card-title>
    </md-card-header>
    <img md-card-image [src]="u.avatar_url">
  </md-card>

</div>



